.container {
  padding-top: 1rem;
  display: flex;
}

.switch {
  position: relative;
  width: 3.7rem;
  height: 1.8rem;
  margin: -1rem 0 0 1rem;
  overflow: hidden;
}

.switch.r,
.switch.r .layer {
  border-radius: 1rem;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: var(--goff-switch-bg-off);
  transition: 0.3s ease all;
  z-index: 1;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.switch .knobs:before {
  content: "";
  position: absolute;
  top: 0.17rem;
  left: 0.17rem;
  width: 1rem;
  height: 0.35rem;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  padding: 0.55rem 0.25rem;
  background-color: var(--goff-message-error);
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.switch .checkbox:active + .knobs:before {
  width: 2rem;
  border-radius: 5rem;
}

.switch .checkbox:checked:active + .knobs:before {
  margin-left: -1rem;
}

.switch .checkbox:checked + .knobs:before {
  content: "";
  left: 1.9rem;
  background-color: var(--goff-message-success);
}

.switch .checkbox:checked ~ .layer {
  background-color: var(--goff-switch-bg-on);
}

.displayText {
  margin: -0.8rem 0 0 0;
}
