.newsletter {
    width: 100%;
    background-color: var(--ifm-footer-background-color);
    color: var(--ifm-footer-color);
    padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
    text-align: center;
}

.emailInput {
    padding: 1rem;
    font-size: 1.05rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.newsletterMessage {
    background-color: #363636;
    border-radius: 0.3rem;
    margin: 1rem auto;
    padding: 0.5rem 0 0.5rem 0;
    max-width: 45rem;
}

.error {
    color: var(--goff-message-error);
}

.success {
    color: var(--goff-message-success);
}
