.container{
    background-color: var(--goff-editor-form-bg);
}

::-webkit-input-placeholder { /* Chrome */
    color: var(--goff-editor-input-placeholder);
}
:-ms-input-placeholder { /* IE 10+ */
    color: var(--goff-editor-input-placeholder);
}
::-moz-placeholder { /* Firefox 19+ */
    color: var(--goff-editor-input-placeholder);
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: var(--goff-editor-input-placeholder);
    opacity: 1;
}
