.benefits {
  margin: 1rem 2.5rem 1rem 2.5rem;
  background: var(--goff-benif-bg);
  padding: 70px 0 120px;
  border-radius: 1.5rem;
}

.benefitsPostItem {
  background-color: var(--goff-benefits-postitem-bg);
  box-shadow: 0 20px 25px rgba(67, 103, 90, .1);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 15px 15px 20px;
  transition: .3s ease;
  min-height: 30rem;
}

.benefits h2{
  line-height: 2rem;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  display: block;
  color: var(--goff-main-title-color);
  text-decoration: none;
  transition: .3s ease;
  min-height: 2rem;
}

.benefitsPostItem p {
  color: var(--goff-main-ff-description);
}

.benefitsPostItemRow {
  margin: 0 0.1rem 0 0.1rem;
}

.benefitsPostItemRow img {
  border-radius: 10px;
}

.title {
  text-align: center;
}

.title p {
  margin-top: 2rem;
}
