version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: maven
    directory: "/openfeature/provider_tests/java-integration-tests"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: npm
    directory: "/openfeature/provider_tests/js-integration-tests"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: gomod
    directory: "/openfeature/provider_tests/go-integration-tests"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"