version: 2
updates:
  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: weekly
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"     

  - package-ecosystem: maven
    directory: "/openfeature/provider_tests/java-integration-tests"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: npm
    directory: "/openfeature/provider_tests/js-integration-tests"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: gomod
    directory: "/openfeature/provider_tests/go-integration-tests"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: nuget
    directory: "/openfeature/provider_tests/dotnet-integration-tests"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: npm
    directory: "/examples/openfeature_web/webapp"
    schedule:
      interval: weekly
      time: "01:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: npm
    directory: "/examples/openfeature_nodejs/nodejs-app"
    schedule:
      interval: weekly
      time: "01:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: gradle
    directory: "/examples/openfeature_kotlin_server/kotlin-app"
    schedule:
      interval: weekly
      time: "01:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: gradle
    directory: "/openfeature/providers/kotlin-provider/gofeatureflag-kotlin-provider"
    schedule:
      interval: weekly
      time: "01:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"

  - package-ecosystem: pip
    directory: "/openfeature/providers/python-provider"
    schedule:
      interval: weekly
      time: "01:00"
    open-pull-requests-limit: 30
    labels:
      - "dependencies"
      - "automerge"