.button {
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    color: #0052cc;
    background-color: #e0efff;
    display: block;

    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;
}

.button:focus,
.button:hover {
    background-color: #0052cc;
    color: #ffffff;
}

.linkBox button {
    margin-bottom: 1rem;
}