repos:
  - repo: https://github.com/Bahjat/pre-commit-golang
    rev: v1.0.3
    hooks:
      - id: gofumpt

  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.6
    hooks:
      - id: golangci-lint
        entry: golangci-lint run --enable-only=gci --fix

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3.12
