/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --site-primary-hue-saturation: 167 68%;
  --site-primary-hue-saturation-light: 167 56%;

  --goff-header-background: #fff;
  --goff-header-text-color: #273437;

  --goff-main-subtitle-color: #9fbeb3;
  --goff-main-title-color: #273437;
  --goff-main-ff-description: #8c8c94;
  --goff-getstarted-bg: #b93a01;
  --goff-github-bg: #555;
  --goff-sponsor-bg: #a0bfb5;
  --goff-whatis-bg: #f9f9f9;
  --goff-benif-bg: #dff1f4;
  --goff-feature-list-arrow-color: #9fbeb3;
  --goff-feature-list-text-color: var(--goff-header-text-color);
  --goff-benefits-postitem-bg: #fff;
  --goff-message-error: #ec7063;
  --goff-message-success: #73c6b6;

  --goff-editor-form-field-bg: #e9e9e9;
  --goff-editor-container-bg: #f9f9f9;
  --goff-editor-title-bg: var(--goff-editor-form-field-bg);
  --goff-editor-placeholder: #73c6b6;
  --goff-editor-input-placeholder: #73c6b6;
  --goff-editor-input-text: #363636;
  --goff-editor-form-bg: var(--goff-editor-title-bg);
  --goff-switch-bg-on: var(--goff-editor-form-field-bg);
  --goff-switch-bg-off: var(--goff-editor-form-field-bg);
  --goff-variation-plus-button-bg: var(--goff-editor-input-placeholder);

  --goff-card-round-color: #e9e9e9;
  --goff-card-txt-badge-info: var(--goff-sponsor-bg);
  --goff-card-bg-badge-info: var(--goff-card-round-color);
  --goff-card-bg-color: #F6F6F6;

  --goff-headline-green: var(--goff-variation-plus-button-bg);
  --goff-headline-purple: #6c46f2;

}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --goff-header-background: #000;
  --goff-main-subtitle-color: #9fbeb3;
  --goff-main-title-color: #fff;
  --goff-feature-list-text-color: #fff;
  --goff-whatis-bg: #363636;
  --goff-benefits-postitem-bg: #363636;
  --goff-benif-bg: #87a8a7;

  --goff-editor-form-field-bg: #444444;
  --goff-editor-container-bg: #363636;
  --goff-editor-placeholder: #f1f1f1;
  --goff-editor-input-text: #f1f1f1;

  --goff-card-bg-color: var(--goff-editor-form-field-bg);
  --goff-headline-title: #777;

}


.menu__link {
  font-weight: normal;
  font-size: 0.95rem;
}

body {
  font-family: poppins, sans-serif;
}

/* Github icon top right */
.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme="dark"] .header-github-link:before {
  filter: invert(100%);
}

/* Twitter icon top right */
.header-twitter-link:hover {
  opacity: 0.6;
}

.header-twitter-link:before {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGMtNi42MjcgMC0xMiA1LjM3My0xMiAxMnM1LjM3MyAxMiAxMiAxMiAxMi01LjM3MyAxMi0xMi01LjM3My0xMi0xMi0xMnptNi4wNjYgOS42NDVjLjE4MyA0LjA0LTIuODMgOC41NDQtOC4xNjQgOC41NDQtMS42MjIgMC0zLjEzMS0uNDc2LTQuNDAyLTEuMjkxIDEuNTI0LjE4IDMuMDQ1LS4yNDQgNC4yNTItMS4xODktMS4yNTYtLjAyMy0yLjMxNy0uODU0LTIuNjg0LTEuOTk1LjQ1MS4wODYuODk1LjA2MSAxLjI5OC0uMDQ5LTEuMzgxLS4yNzgtMi4zMzUtMS41MjItMi4zMDQtMi44NTMuMzg4LjIxNS44My4zNDQgMS4zMDEuMzU5LTEuMjc5LS44NTUtMS42NDEtMi41NDQtLjg4OS0zLjgzNSAxLjQxNiAxLjczOCAzLjUzMyAyLjg4MSA1LjkyIDMuMDAxLS40MTktMS43OTYuOTQ0LTMuNTI3IDIuNzk5LTMuNTI3LjgyNSAwIDEuNTcyLjM0OSAyLjA5Ni45MDcuNjU0LS4xMjggMS4yNy0uMzY4IDEuODI0LS42OTctLjIxNS42NzEtLjY3IDEuMjMzLTEuMjYzIDEuNTg5LjU4MS0uMDcgMS4xMzUtLjIyNCAxLjY0OS0uNDUzLS4zODQuNTc4LS44NyAxLjA4NC0xLjQzMyAxLjQ4OXoiLz48L3N2Zz4=")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme="dark"] .header-twitter-link:before {
  filter: invert(100%);
}

/* Slack icon top right */
.header-slack-link:hover {
  opacity: 0.6;
}

.header-slack-link:before {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAwYy02LjYyNiAwLTEyIDUuMzcyLTEyIDEyIDAgNi42MjcgNS4zNzQgMTIgMTIgMTIgNi42MjcgMCAxMi01LjM3MyAxMi0xMiAwLTYuNjI4LTUuMzczLTEyLTEyLTEyem02LjIyNSAxNC4xOGwtMS40MTguNDc0LjQ5IDEuNDY3Yy4xOTMuNTk0LS4xMjIgMS4yNC0uNzE3IDEuNDMyLS42NzEuMTktMS4yNTMtLjE4Ny0xLjQzNy0uNzE1bC0uNDktMS40NjktMi45MjQuOTc5LjQ5IDEuNDY4Yy4yMjguNzAyLS4yNTMgMS40ODMtMS4wNjggMS40ODMtLjUxNCAwLS45MzQtLjMyOS0xLjA4NS0uNzY3bC0uNDkyLTEuNDY4LTEuNDE4LjQ3MmMtLjY2Mi4xOTItMS4yNTEtLjE4NS0xLjQzNi0uNzE3LS4xOTItLjU5My4xMjMtMS4yNC43MTgtMS40MzJsMS40MTgtLjQ3Mi0uOTQ1LTIuODE0LTEuNDE5LjQ3MmMtLjc5LjIyNC0xLjQ5Mi0uMzQ0LTEuNDkyLTEuMDczIDAtLjQ3Ny4yOTctLjkyMy43NzQtMS4wNzdsMS40MTktLjQ3Mi0uNDkxLTEuNDY3Yy0uMTkyLS41OTUuMTIzLTEuMjQyLjcxOS0xLjQzNC41OTUtLjE5MiAxLjI0Mi4xMjIgMS40MzUuNzE3bC40OTIgMS40NjcgMi45MjMtLjk3OC0uNDktMS40NjhjLS4yMzUtLjcyMi4yODMtMS40ODkgMS4wNzUtMS40ODkuNDc4IDAgLjkyNS4yOTcgMS4wOC43NzNsLjQ5IDEuNDY4IDEuNDE4LS40NzJjLjU5NS0uMTkzIDEuMjQzLjEyMyAxLjQzNi43MTcuMTkzLjU5NC0uMTIzIDEuMjQtLjcxOCAxLjQzMmwtMS40MTkuNDcyLjk0NiAyLjgxNCAxLjQxOS0uNDcyYy43MjUtLjIzNCAxLjQ5Mi4yODIgMS40OTIgMS4wNzIgMCAuNDc4LS4yOTcuOTIzLS43NzUgMS4wNzd6bS01LjI0NS0zLjc0OWwtMi45MjIuOTc3Ljk0NCAyLjgxNiAyLjkyMy0uOTc2LS45NDUtMi44MTd6Ii8+PC9zdmc+")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme="dark"] .header-slack-link:before {
  filter: invert(100%);
}

/* Email icon top right */
.header-email-link:hover {
  opacity: 0.6;
}

.header-email-link:before {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgMGwtNiAyMi04LjEyOS03LjIzOSA3LjgwMi04LjIzNC0xMC40NTggNy4yMjctNy4yMTUtMS43NTQgMjQtMTJ6bS0xNSAxNi42Njh2Ny4zMzJsMy4yNTgtNC40MzEtMy4yNTgtMi45MDF6Ii8+PC9zdmc+")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme="dark"] .header-email-link:before {
  filter: invert(100%);
}

.navbar__right {
  padding: 0.3rem;
}

div[class^="announcementBar_"] {
  --site-announcement-bar-stripe-color1: hsl(
    var(--site-primary-hue-saturation) 85%
  );
  --site-announcement-bar-stripe-color2: hsl(
    var(--site-primary-hue-saturation) 95%
  );
  background: repeating-linear-gradient(
    35deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 10px,
    var(--site-announcement-bar-stripe-color2) 40px
  );
  font-weight: 700;
}

/* NEW CSS*/
.goffMainTitle {
  margin-top: 2rem;
  font-size: 4rem;
  line-height: 2.5rem;
  color: var(--goff-main-title-color);
  font-family: Poppins, sans-serif;
  font-weight: 800;
  letter-spacing: -0.18rem;
}

.goffMainSubtitle {
  color: var(--goff-main-subtitle-color);
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: -0.18rem;
  font-size: 2.80rem;
  line-height: 2.5rem;
}

.menu-icon{
  color: #73c6b6;
}
