.feature {
    margin: 5rem 0 5rem 0;
}

.socialIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0.5rem 0.5rem;
    border-radius: 50%;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    transition: all 0.15s ease;
}

.socialIconBlue {
    background-color: cornflowerblue;
}

.socialIconBlack {
    background-color: #000000;
}

.socialIconCyan {
    background-color: #cdf7e7;
}

.socialIconPurple {
    background-color: #4a154b;
}

.socialIconGreen {
    background-color: #34a853;
}

.socialIconAws {
    background-color: #222e3c;
}

.socialIconPubSub {
    background-color: rgb(194, 223, 255);
}

.socialIconGitlab {
    background-color: #D1D0D3;
}

.socialIconMongodb {
    background-color: #023430;
}

.socialIconKafka {
    background-color: #eee;
}

.socialIconDiscord {
    background-color: #5661ea;
}

.socialIconBitbucket {
    background-color: #0052cc;
}


.tooltip {
    position: relative;
    display: inline-block;
    z-index: 100;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    width: 140px;
    bottom: 80%;
    left: 50%;
    margin-left: -70px;
}

.featureContentList ul {
    margin: 0;
    padding: 0;
}

.featureContentList ul li {
    list-style: none;
    display: flex;
    text-align: left;
}

.featureContentList ul li i {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    margin-right: 15px;
    color: var(--goff-feature-list-arrow-color);
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}

.featureContentList ul li p {
    font-weight: 500;
    margin-bottom: 0;
    display: inline-block;
    color: var(--goff-feature-list-text-color);
    font-size: 1rem;
}


.featureContent p {
    font-size: 1.05rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--goff-main-ff-description);
}

.featureContentList ul li:not(:last-child) {
    margin-bottom: 15px;
}

.featureImage img {
    border-radius: 1rem;
}

.imgRollout {
    margin: 12rem 0 0 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
