apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "relay-proxy.fullname" . }}
  labels:
    app: {{ template "relay-proxy.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
data:
  goff-proxy.yml: {{- toYaml (tpl .Values.relayproxy.config .) | nindent 4 }}