.title {
    text-align: center;
    font-size: 3rem;
    color: var(--goff-main-subtitle-color);
    text-transform: capitalize;
}

.subtitle {
    text-align: center;
    color: var(--goff-main-title-color);
    margin: auto;
    width: 70%;
}
.space1 {
    height: 1rem;
}
.space3 {
    height: 3rem;
}
.space5 {
    height: 5rem;
}
