.ruleContainer {
    border: var(--goff-message-success) 1px solid;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 0rem 1rem 1rem 1rem;
}

.ruleName input{
    background-color: var(--goff-editor-container-bg);
}

.ruleName {
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.circle {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    color: var(--goff-switch-bg-on);
    text-align: center;
    background: var(--goff-message-success);
}

.inputQuery {
    padding-top: 1rem;
    display: flex;
}

.ifContainer, .serveTitle  {
    width: 4rem;
}

.serve {
    padding-top: 1rem;
    display: flex;
    margin-left: -0.2rem;
}


.percentageInput {
    background-color: var(--goff-editor-form-bg);
    border-radius: 0.25rem;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    width: 4.5rem;
}

.dateInput {
    background-color: var(--goff-editor-form-bg);
    border-radius: 0.25rem;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    width: 100%;
}

.percentageContainer{
    margin-top: 0.5rem;
}
.percentageContainer li{
    margin-top: 0.25rem;
}

.error{
    color: var(--goff-message-error);
}

.rolloutDesc {
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.progressiveRollout{
    margin-bottom: 1rem;
    display: flex;
}

.progressiveRollout div{
    margin-right: 2rem;
}
