.ruleContainer {
    border: var(--goff-message-success) 1px solid;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    padding: 2rem 1rem 1rem 1rem;
}

.ruleName input{
    background-color: var(--goff-editor-container-bg);
}

.ruleName {
}

.circle {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    color: var(--goff-switch-bg-on);
    text-align: center;
    background: var(--goff-message-success);
}

.inputQuery {
    padding-top: 1rem;
    display: flex;
}

.ifContainer, .serveTitle  {
    width: 4rem;
}

.serve {
    padding-top: 1rem;
    display: flex;
    margin-left: -0.2rem;
}
