.headline {
    margin: 5rem 0;
    padding: 7rem 0;
    text-align: center;
    font-style: italic;
    background-image: url( './bg.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: var(--goff-headline-title);
}

.title h1{
    opacity: 1;
    font-size: 2.9rem;
}


.headline svg {
    fill: var(--goff-headline-green);
    position: absolute;
}

.green {
    color: var(--goff-headline-green);
}

.purple {
    color: var(--goff-headline-purple);
}