.ruleContainer {
  border: var(--goff-message-success) 1px solid;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  padding: 1.1rem 1rem 1rem 1rem;
}

.ruleName input {
  background-color: var(--goff-editor-container-bg);
  font-size: 1.5rem;
}

.ruleKeyValueContainer {
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  color: var(--goff-switch-bg-on);
  text-align: center;
  background: var(--goff-message-success);
}

.inputQuery {
  padding-top: 1rem;
  display: flex;
}

.ifContainer,
.serveTitle {
  width: 4rem;
  padding-right: 1rem;
}

.operatorContainer {
  width: 100%;
  padding-right: 1rem;
}

.serve {
  padding-top: 1rem;
  display: flex;
  margin-left: -0.2rem;
}

.percentageInput input {
  background-color: var(--goff-editor-form-bg);
  border-radius: 0.25rem;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  max-width: 4.5rem;
  margin-right: 0rem;
}

.dateInput {
  background-color: var(--goff-editor-form-bg);
  border-radius: 0.25rem;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  width: 100%;
}

.percentageContainer {
  margin-top: 0.5rem;
}
.percentageContainer li {
  margin-top: 0.25rem;
}

.error {
  color: var(--goff-message-error);
}

.rolloutDesc {
  font-style: italic;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.progressiveRollout {
  margin-bottom: 1rem;
  display: flex;
}

.progressiveRollout div {
  margin-right: 0.5rem;
}

.progressiveRolloutPercentage {
  display: flex;
}

.formError {
  color: var(--goff-message-error);
  font-size: 0.8rem;
}
