.button .bg {
  color: var(--goff-variation-plus-button-bg);
}

.targeting {
  display: flex;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 0.3px;
}

.button .bg {
  color: var(--goff-variation-plus-button-bg);
}

.variation {
  display: flex;
  padding-bottom: 1.2rem;
}

.icons {
  display: flex;
}

.icons div {
  padding-right: 0.2rem;
}

.icon {
  font-size: 0.8rem;
  padding-top: 0.3rem;
}

.targeting {
  display: flex;
}
