name: Helm Lint and Test Charts
on: pull_request
jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.1

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        working-directory: ./cmd/relayproxy/helm-charts/relay-proxy/
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          echo $changed
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
            echo "changed=true"
          fi

      - name: Run chart-testing (lint)
        working-directory: ./cmd/relayproxy/helm-charts/relay-proxy/
        run: ct lint --chart-dirs . --charts .

      - name: Create kind cluster
        uses: helm/kind-action@v1.4.0
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run chart-testing (install)
        working-directory: ./cmd/relayproxy/helm-charts/relay-proxy/
        run: ct install --chart-dirs . --charts .
        if: steps.list-changed.outputs.changed == 'true'