name: Helm Lint and Test Charts
on: pull_request
jobs:
  lint-helm-chart:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.1

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.4.0

      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v35
        with:
          files: ./cmd/relayproxy/helm-charts/**

      - name: Run chart-testing (lint)
        working-directory: ./cmd/relayproxy/helm-charts/relay-proxy/
        run: ct lint --chart-dirs . --charts .

      - name: Create kind cluster
        uses: helm/kind-action@v1.7.0
        if: steps.changed-files-specific.outputs.any_changed == 'true'

      - name: Run chart-testing (install)
        working-directory: ./cmd/relayproxy/helm-charts/relay-proxy/
        run: ct install --chart-dirs . --charts .
        if: steps.changed-files-specific.outputs.any_changed == 'true'