name: Helm Lint and Test Charts
on: pull_request
permissions: read-all

jobs:
  lint-helm-chart:
    name: Lint Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 100

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.11.1

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.9"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: marceloprado/has-changed-path@df1b7a3161b8fb9fd8c90403c66a9e66dfde50cb # v1.0.1
        with:
          paths: ./cmd/relayproxy/helm-charts/

      - name: Run chart-testing (lint)
        working-directory: ./cmd/relayproxy/helm-charts/relay-proxy/
        run: ct lint --chart-dirs . --charts .

      - name: Create kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab #v1.13.0
        if: steps.changed-files-specific.outputs.changed == 'true'

      - name: Run chart-testing (install)
        working-directory: ./cmd/relayproxy/helm-charts/relay-proxy/
        run: ct install --chart-dirs . --charts .
        if: steps.changed-files-specific.outputs.changed == 'true'
