name: "CI Kotlin Provider"
on:
  push:
    branches:
      - main
    paths:
      - openfeature/providers/kotlin-provider/**
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - openfeature/providers/kotlin-provider/**

permissions: read-all

jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Cache Gradle and wrapper
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 1
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 17
          distribution: "zulu"
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0
      - name: Build with Gradle
        working-directory: ./openfeature/providers/kotlin-provider
        run: ./gradlew test
