name: "CI Kotlin Provider"
on:
  push:
    branches:
      - main
    paths:
      - openfeature/providers/kotlin-provider/**
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - openfeature/providers/kotlin-provider/**

permissions: read-all

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Cache Gradle and wrapper
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1
      - name: Set up JDK 17
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: 17
          distribution: "zulu"
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0
      - name: Build with Gradle
        working-directory: ./openfeature/providers/kotlin-provider
        run: ./gradlew test
