name: "CI Kotlin Provider"
on:
  push:
    branches:
      - main
    paths:
      - openfeature/providers/kotlin-provider/**
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - openfeature/providers/kotlin-provider/**

permissions: read-all

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Cache Gradle and wrapper
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
      - name: Set up JDK 17
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          java-version: 17
          distribution: "zulu"
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3.5.0
      - name: Build with Gradle
        working-directory: ./openfeature/providers/kotlin-provider
        run: ./gradlew test
