name: Docs validation
on:
  pull_request:
    branches:
      - main

jobs:
  test-doc-build:
    name: Test documentation build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v38
        with:
          files: ./website/
      - name: Test Build website
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: make build-doc
