name: Docs validation
on:
  pull_request:
    branches:
      - main
permissions: read-all

jobs:
  test-doc-build:
    name: Test documentation build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 100
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: marceloprado/has-changed-path@df1b7a3161b8fb9fd8c90403c66a9e66dfde50cb # v1.0.1
        with:
          paths: ./website/
      - name: Test Build website
        if: steps.changed-files-specific.outputs.changed == 'true'
        run: make build-doc
