name: Release Python provider to PyPi

on:
  workflow_call:
    secrets:
      pypi_token: { required: true }
permissions:
  actions: read
  contents: read

jobs:
  python-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Build and publish to PyPi
        uses: JRubics/poetry-publish@4b3306307f536bbfcb559603629b3b4f6aef5ab8 # v2.1
        with:
          package_directory: ./openfeature/providers/python-provider
          pypi_token: ${{ secrets.pypi_token }}
