name: Release Charts
on:
  push:
    branches:
      - main

jobs:
  helm-release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    env:
      CHART_README_LOCATION: cmd/relayproxy/helm-charts/relay-proxy/README.md
      MAIN_BRANCH_NAME: main
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: marceloprado/has-changed-path@df1b7a3161b8fb9fd8c90403c66a9e66dfde50cb # v1.0.1
        with:
          paths: ./cmd/relayproxy/helm-charts/

      - name: Publish Helm chart
        if: steps.changed-files-specific.outputs.changed == 'true'
        uses: stefanprodan/helm-gh-pages@0ad2bb377311d61ac04ad9eb6f252fb68e207260 # v1.7.0
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          charts_dir: ./cmd/relayproxy/helm-charts/
          charts_url: https://charts.gofeatureflag.org
          owner: go-feature-flag
          repository: helm-charts
          branch: gh-pages
          target_dir: ./
          commit_username: thomaspoignant
          commit_email: thomaspoignant@goferatureflag.org

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Update chart README
        if: steps.changed-files-specific.outputs.changed == 'true'
        run: make generate-helm-docs

      - name: Checkout main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ env.MAIN_BRANCH_NAME }}
          path: ${{ env.MAIN_BRANCH_NAME }}
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          fetch-depth: 0

      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Copy README to main branch
        run: cp -rf $CHART_README_LOCATION $MAIN_BRANCH_NAME/$CHART_README_LOCATION

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        if: steps.changed-files-specific.outputs.changed == 'true'
        with:
          branch: update-relay-proxy-chart-readme
          title: "docs(helm): Update relay proxy helm README"
          body: Automated pull request to update relay-proxy helm chart README
          commit-message: Update relay proxy helm README
          labels: automerge
          assignees: thomaspoignant
          draft: false
          signoff: true
          delete-branch: true
          path: ${{ env.MAIN_BRANCH_NAME }}
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
