name: Release Charts
on:
  push:
    branches:
      - main

jobs:
  helm-release:
    runs-on: ubuntu-latest
    env:
      CHART_README_LOCATION: cmd/relayproxy/helm-charts/relay-proxy/README.md
      MAIN_BRANCH_NAME: main
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get changed files in the docs folder
        id: changed-files-specific
        uses: tj-actions/changed-files@v37
        with:
          files: ./cmd/relayproxy/helm-charts/**

      - name: Publish Helm chart
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          charts_dir: ./cmd/relayproxy/helm-charts/
          charts_url: https://charts.gofeatureflag.org
          owner: go-feature-flag
          repository: helm-charts
          branch: gh-pages
          target_dir: ./
          commit_username: thomaspoignant
          commit_email: thomaspoignant@goferatureflag.org

      - uses: actions/setup-go@v4
        with:
          go-version: '>=1.17.0'

      - name: Update chart README
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: make generate-helm-docs

      - name: Checkout main branch
        uses: actions/checkout@v3
        with:
          ref: ${{ env.MAIN_BRANCH_NAME }}
          path: ${{ env.MAIN_BRANCH_NAME }}
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          fetch-depth: 0

      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Copy README to main branch
        run: cp -rf $CHART_README_LOCATION $MAIN_BRANCH_NAME/$CHART_README_LOCATION

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        with:
          branch: update-relay-proxy-chart-readme-${{ env.GIT_TAG_NAME }}
          title: Update relay proxy helm README ${{ env.GIT_TAG_NAME }}
          body: Automated pull request to update relay-proxy helm chart README ${{ env.GIT_TAG_NAME }}
          commit-message: Update relay proxy helm README ${{ env.GIT_TAG_NAME }}
          labels: automerge
          assignees: thomaspoignant
          draft: false
          signoff: true
          delete-branch: true
          path: ${{ env.MAIN_BRANCH_NAME }}
          token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
