.editorInputContainer {
    height: 2rem;
    position: relative;
    width: 100%;
    padding-right: 1rem;
}

.editorInput {
    background-color: var(--goff-editor-form-bg);
    border-radius: 0.25rem;
    border: 0;
    box-sizing: border-box;
    height: 100%;
    outline: 0;
    padding: 0.6rem 1rem;
    width: 100%;
    font-size: 1rem;
}

.editorCut {
    background-color: var(--goff-editor-container-bg);
    border-radius: 1rem;
    height: 1.1rem;
    left: 0.5rem;
    position: absolute;
    top: -1.1rem;
    transform: translateY(0);
    transition: transform 200ms;
    width: 5rem;
}

.editorPlaceholder {
    color: var(--goff-editor-input-placeholder);
    font-family: sans-serif;
    left: 0.5rem;
    line-height: 1rem;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 0.6rem;
}

.editorInput:focus ~ .editorCut,
.editorInput:not(:placeholder-shown) ~ .editorCut {
    transform: translateY(0.3rem);
}

.editorInput:focus ~ .editorPlaceholder,
.editorInput:not(:placeholder-shown) ~ .editorPlaceholder {
    transform: translateY(-1.3rem) translateX(0.5rem) scale(0.75);
}

.editorInput:not(:placeholder-shown) ~ .editorPlaceholder {
    color: var(--goff-editor-input-text);
}

.editorInput:focus ~ .editorPlaceholder {
    color: var(--goff-editor-placeholder);
}

